[submodule "data/magento2"]
	path = data/magento2
	url = https://github.com/magento/magento2
[submodule "data/m2-sample-data"]
	path = data/m2-sample-data
	url = https://github.com/tzyganu/m2-sample-data
